# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/

# Build files
*.class
*.log
*.jar
*.war
*.ear

# OS
.DS_Store
Thumbs.db

# Git
.git
.gitignore
.gitattributes

# Documentation
*.md
HELP.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore

